@using MediaMaker.Web.Models.Calculator
@using MediaMaker.Common.Enums

@model BasicCalculationViewModel
@{
    ViewBag.Title = "Calculator";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Awesome Simple Calculator App!</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" style="display:none;">
            Something went wrong. Please try again later
        </div>
    </div>
</div>

<div class="row calc-container">
    <div class="col-md-12">
        <form name="calc">
            <div>
                <label for="calc-first-value">Value 1</label>
                @Html.TextBoxFor(m => m.firstValue, new { id = "calc-first-value", type = "number", @class = "form-control", name = "firstValue" })
            </div>
            <div>
                <label for="calc-second-value">Value 2</label>
                @Html.TextBoxFor(m => m.secondValue, new { id = "calc-second-value", type = "number", @class = "form-control", name = "secondValue", })
                @Html.EnumDropDownListFor(m => m.arithmeticOperator, "Select operator...", new { id = "arithmetic-operator", @class = "form-control", name = "arithmeticOperator" })
            </div>
            <br />
            <div class="col-md-12">
                <span class="btn btn-primary calculate">Calculate</span>
                <span class="btn btn-danger reset">Reset</span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span id="result-container">
            <span class="emphasis">
                Result =
            </span>
            <span class="result">

            </span>
        </span>
    </div>
</div>

@section styles{
    <link href="~/Content/Calculator.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //page load
            $(".calc-container input").val("");
            $("select > option[value='0']").val("");

            //validation
            $("form[name='calc'").validate({
                rules: {
                    firstValue: "required",
                    secondValue: "required",
                    arithmeticOperator: {
                        required: true
                    }
                },
                messages: {
                    firstValue: {
                        required: "Please enter a numerical value"
                    },
                    secondValue: {
                        required: "Please enter a numerical value"
                    },
                    arithmeticOperator: {
                        required: "Please select an operator"
                    }

                }
            });


            //event handlers
            $(".calc-container .calculate").on("click", function () {
                if (!$("form[name='calc'").valid()) {
                    return;
                }

                var firstValue = $(".calc-container #calc-first-value").val();
                var secondValue = $(".calc-container #calc-second-value").val();
                var opperator = $("#arithmetic-operator").val();
                var baseUrl = "http://localhost:49524/api/arithmetic/";
                var url = "";

                switch (opperator) {
                    case "@((int)ArithmeticOperator.Add)":
                        url = baseUrl.concat("add");
                        break;
                    case "@((int)ArithmeticOperator.Subtract)":
                        url = baseUrl.concat("subtract");
                        break;
                    case "@((int)ArithmeticOperator.Multiply)":
                        url = baseUrl.concat("multiply");
                        break;
                    case "@((int)ArithmeticOperator.Divide)":
                        url = baseUrl.concat("divide");
                        break;
                    default:
                        return;
                }

                $.ajax({
                    url: url,
                    data: { firstValue: firstValue, secondValue: secondValue },
                    type: 'GET',
                    success: function (response) {
                        $(".result").text(response);
                        $(".alert").hide();
                    },
                    error: function () {
                        $(".alert").show();
                    }
                });
            });

            $(".reset").on("click", function () {
                $(".alert").hide();
                $(".calc-container input").val("");
                $(".calc-container select").val(0);
                $(".result").text("");
            });
        });
    </script>
}

